FEDERATION_NODE_ID=hetzner
FEDERATION_ROLE=hub
FEDERATION_CONFIG_PATH=config/federation_nodes.json
FEDERATION_SECRET=CHANGE_ME_LONG_RANDOM_SECRET
HUB_PUBLIC_URL=https://api.ailinux.me
HUB_INTERNAL_URL=http://10.10.0.1:9000
CLOUD_PROVIDER_KEYS_LOCAL_ENABLED=true
PROVIDER_ROUTE_MODE=hub_for_cloud_local_for_ollama
OLLAMA_BASE=http://127.0.0.1:11434
NO_PROXY=127.0.0.1,localhost,10.10.0.1,10.10.0.2,10.10.0.3
