# Nicht in den Build
.git
**/.git
**/.DS_Store
**/node_modules
**/__pycache__
**/*.pyc

# Diese Dateien MÜSSEN rein:
!Dockerfile
!mirror.list
!update-mirror.sh
!generate-index.sh
!repo/mirror/mirror.list
!cappelikan-ppa.asc
# erlaubte PPA-Keys
!*.asc
!*.gpg
